# User specified exclusions
docker-compose copy.yml
EXPLAIN.md
INTERVIEW_PREP_GUIDE.md

# Compiled class file
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven build directories
**/target/
target/

# IDE configurations
.idea/
*.iml
.classpath
.project
.settings/
.metadata/
bin/
/out/
*.swp
*.swo

# Keycloak realm temporary exports
keycloak/realm-export.json.tmp

# apache
apache-jmeter-5.6.3/
